:root {
  --first-color: #E3D0D8;
  --second-color: #827081;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  height: 100%;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  flex: 1 0 auto;
}

.highlight {
  background-color: var(--second-color);
  color: #fff;
  padding: 5px;
}

footer {
  flex-shrink: 0;
  margin-right: 5px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}