:root {
  --first-color: #f5ebe0;
  --second-color: #d5bdaf;
  --third-color: #e3d5ca;
  --fourth-color: #e07a5f;
}

html, body {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header & Navigation */
header {
  background-color: var(--third-color);
  text-align: center;
}

h2 {
  padding-top: 20px;
  margin-bottom: 0;
}

h2 a {
  color: var(--fourth-color);
  text-decoration: none;
  font-size: 1.5em;
}

a:visited {
  color: var(--fourth-color);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

nav ul li {
  padding: 10px;
}

.highlight {
  background-color: var(--second-color);
  padding: 5px;
  border-radius: 5px;
}

/* Components */
.components {
  padding: 50px 30px;
}

/* Portfolio */
.project-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.project-col {
  width: 100%;
}

.project-img {
  width: 100%;
  margin-top: 10px;
}

.project-title {
  margin-bottom: 2px;
}

.project-link {
  color: var(--fourth-color);
}

/* Contact */
.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field-padding {
  padding-bottom: 5px;
}

.contact-field {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
}

.btn {
  background-color: var(--third-color);
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

/* Footer */
footer {
  margin-right: 10px;
  margin-top: 50px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

footer ul li a {
  color: var(--fourth-color);
  text-decoration: none;
}

/* Media Query for devices larger than 980px */
@media screen and (min-width: 980px) {
/* Portfolio */
.project-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.project-col {
  width: 45%;
}
}